---
title: Rocky Linux and Age Verification
date: "2026-04-01"
author: "Brian Clemens"
---

<div class="flex justify-center">
    <img src="/images/news/rocky-linux-and-age-verification.png" width="50%" />
</div>

In recent months, open source projects have had to ask themselves what to do about the legislation requiring age verification, identity checks, content gates, and other forms of censorship. The Rocky Linux project has been following these developments closely, and after much deliberation, we're taking decisive action:

**Effective immediately, all Rocky Linux packaging will include a ["Fun For All Ages" sticker](https://youtu.be/dQw4w9WgXcQ).**

Jokes aside, open source is for everyone. Rocky Linux will always be freely available to anyone who wants to learn, build, tinker, and create.
