/* red-hat-display-300 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-300italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-500italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-600 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-600italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-700 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-700italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-800 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-800italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-800italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-900 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-display-900italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatDisplay/red-hat-display-v14-latin_latin-ext-900italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-300 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-300italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-500italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-600 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-600italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-700 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-mono-700italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Mono';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatMono/red-hat-mono-v10-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-300 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-300italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-300italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-regular - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-500italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-600 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-600italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-600italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-700 - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-700italic - latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/RedHatText/red-hat-text-v13-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}